In [275]:
# Dependencies
from bs4 import BeautifulSoup as bs
import requests
import pandas as pd
import pymongo

In [276]:
# Initialize PyMongo to work with MongoDBs
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

In [277]:
# Define database and collection
db = client.astronaut_db
collection = db.facts

In [278]:
# URL of page to be scraped
url = 'https://www.archives.gov/research/alic/reference/space-timeline.html'

In [279]:
# Retrieve page with the requests module
response = requests.get(url)
print(response.url)

https://www.archives.gov/research/alic/reference/space-timeline.html

In [280]:
# Create BeautifulSoup object; parse with 'html.parser'
soup = bs(response.text,'html.parser')

In [281]:
# Examine the results, then determine element that contains sought info
#print(soup.prettify())

In [282]:
# results are returned as an iterable list
results = soup.find_all('div', class_="region")
#results

In [283]:
#results = soup.find_all('div', class_="region")
#results

In [284]:
# Loop through returned results
years = soup.find_all('strong')
year_counts = []

for year in years:
    print(year.text)
    
    year_counts.append(year)  
    
print(len(year_counts))

Contents:
1957
1958
1960
1961
1962
1965
1966
1967
1968
1969
1970
1971
1972
1973
1975
1976
1977
1979
1980
1981
1983
1984
1985
1986
1989
1990
1992
1993
1994
1995
1997
1998
1999
2000
2001
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
47

In [285]:
### Loop through returned results for fun facts
fun_facts = soup.select('ul')
#print(fun_facts)

#print(fun_facts[39])


#fact_counts = []
#fact_index = fun_facts[0]
#counter = 0  
fact_list = []
    


for index, fact in enumerate(fun_facts, start=1):
    print(index)
    facts = fact.text
    print(facts)
    fact_list.append(fact)
    print('------------------')

#print(len(fact_list))
#print(index,fact_list[20].text)

 # Dictionary to be inserted into MongoDB
    post = {
        'index': index,
        'fun_fact': facts,
    }


 # Insert dictionary into MongoDB as a document
    collection.insert_one(post)

1
Research Our Records
Veterans' Service Records
Educator Resources
Visit Us
America's Founding Documents

------------------
2

Main Page
ALIC Mission
ALIC Staff
Hours and Locations
Services
Policies
Volunteer Opportunities

------------------
3

Archives & Records Management
Biography
Black History
Congress
Diplomacy
Exploration
Genealogy
Geography & Maps
Government Documents
History
Indians/ Native Americans
More....

------------------
4

Library Catalog
Online Databases
Periodicals
Government Publications
Special Collections
Bibliographies
Virtual Library

------------------
5

NARA Electronic Publications
U.S. Serial Set Digital Collection
Ancestry.com
ProQuest (Journals/ Newspapers)
Archives Unbound
Archives USA
America: History and Life

Fold3 (Formerly Footnote)
JSTOR
HeinOnline
Declassified Documents Reference System
Biography and Genealogy Master Index (BGMI)
Digital National Security Archive
Interagency Working Group: War Crimes
Holocaust-era Assets
Career Development Resource Center

------------------
6
NARA Resources
Finding Aids for Records on Space Exploration
Presidential Libraries

General Space Resources
CRS Reports

Timeline
NASA’s Space Centers
NASA’s Space Programs
Hubble Space Telescope
Space Exploration Biographies
Women in Space History
>

------------------
7
Finding Aids for Records on Space Exploration
Presidential Libraries

------------------
8
CRS Reports

------------------
9
October 4 - The Soviet Union launched the first satellite, Sputnik, into space.
November 3 - The Soviet spacecraft Sputnik 2 was launched with a dog named Laika on board. Laika did not survive the voyage.
------------------
10
January 31 - Explorer 1 was the first satellite launched by the United States when it was sent into orbit on January 31, 1958. It was designed and built by the Jet Propulsion Laboratory (JPL) of the California Institute of Technology. The satellite was sent aloft from Cape Canaveral in Florida  by the Jupiter C rocket  that was designed, built, and launched by the Army Ballistic Missile Agency (ABMA) under the direction of Dr. Wernher Von Braun.
------------------
11
August 19 - The Soviet craft Sputnik 5 was launched, carrying the dogs Strelka and Belka. They became the first living beings to survive a trip into space.
------------------
12
April 12 - Russian cosmonaut Yuri Gagarin became the first human in space.
May 5 - Astronaut Alan Shepard became the first American in space.
May 25 - President Kennedy challenged the country to put a man on the moon by the end of the decade.
------------------
13
February 20 - Astronaut John Glenn became the first American in orbit.
June 16 - Valentina Nikolayeva Tereshkova became the first woman in space.
------------------
14
March 18 - While tethered to his spacecraft, cosmonaut Alexi Leonov became the first man to walk in space.
June 3 - Astronaut Ed White became the first American to walk in space.
July 14 - The spacecraft Mariner 4 transmitted the first pictures of Mars.
------------------
15
February 3 - The Russian spacecraft Luna 9 became the first spacecraft to land on the moon.
June 2 - Surveyor 1 became the first American spacecraft to land on the moon.
------------------
16
January 27 - Astronauts Gus Grissom, Ed White, and Roger Chaffee were killed in an accidental fire in a command module on the launch pad.
April 24 - Cosmonaut Vladimir M. Komarov was killed in a crash when the parachute on his Soyuz 1 spacecraft failed to deploy.
October 18 - A descent capsule from the Soviet probe Venera 4 collected data about the atmosphere of Venus.
------------------
17
September 15 - The Soviet spacecraft Zond 5 was launched and later became the first spacecraft to orbit the moon and return to Earth.
December 21 - Apollo 8 was launched, and later her crewmembers became the first men to orbit the moon.
------------------
18
July 20 - Neil Armstrong and "Buzz" Aldrin became the first men on the moon.
------------------
19
April 11 - Apollo 13 was launched.
September 12 - The Soviet craft Luna 16 was launched and became the first automatic spacecraft to return soil samples of the moon.
November 17 - The Soviet automatic robot Lunokhod 1 landed on the moon with Luna 17.
December 15 - The Soviet Venera 7 became the first probe to land on Venus.
------------------
20
April 19 - The Soviet space station Salyut 1 was launched.
July 30 - The moon rover was driven on the moon for the first time.
November 13 - The Mariner 9 probe became the first craft to orbit another world - Mars.
------------------
21
December 11 - Eugene Cernan and Harrison "Jack" Schmitt became the last men to walk on the moon.
------------------
22
May 14 - The U.S. launched its first space station, Skylab.
------------------
23
July 17 - The American Apollo 18 and Soviet Soyuz 19 dock in the Apollo-Soyuz Test Project.
------------------
24
September - The American probe Viking 2 discovered water frost on the Martian surface.
------------------
25
August and September - Voyagers 1 and 2 were launched. (Voyager 2 was launched before Voyager 1, but Voyager 1 was on a faster trajectory.)
------------------
26
March and August - Voyagers 1 and 2 began transmitting images of Jupiter and her moons.
September - The U.S. probe Pioneer 11 reached Saturn and began transmitting images.
------------------
27
November 13 - Voyager 1 reached Saturn and began transmitting images.
------------------
28
April 12 - Columbia became the first Space Shuttle to be launched.
August 26 - Voyager 2 reached Saturn and began transmitting images.
------------------
29
April 4 - The second Space Shuttle, Challenger, was launched.
June 19 - Sally Ride became the first American woman in space on Challenger’s second mission.
August 30 - Guion Bluford became the first African-American in space.
------------------
30
February 3 - Astronaut Bruce McCandless became the first man to take an untethered space walk.
August 30 - The third Space Shuttle, Discovery, was launched.
October - Kathryn Sullivan became the first American woman to walk in space.
------------------
31
October 3 - Atlantis, the fourth Space Shuttle, was launched.
------------------
32
January 24 - Voyager 2 began transmitting images from Uranus.
January 28 - The Space Shuttle Challenger exploded seconds after liftoff.
February 20 - The core section of the Space Station Mir was launched.
------------------
33
August - Voyager 2 began transmitting images from Neptune.
------------------
34
August 10 - The Magellan spacecraft began mapping the surface of Venus using radar equipment.
August 24 - The Space Shuttle Discovery deployed the Hubble Space Telescope.
------------------
35
May 7 - The Space Shuttle Endeavor was launched on her maiden voyage.
September 12 - Mae Jemison became the first African-American woman in space.
------------------
36
December - The Space Shuttle Endeavor made the first servicing mission of the Hubble Space Telescope.
------------------
37
February 3 - Sergei Krikalev became the first Russian cosmonaut to fly on a Space Shuttle.
------------------
38
February 2 - Eileen Collins became the first female Shuttle pilot.
December - The Galileo probe began transmitting data on Jupiter.
------------------
39
July 4 - The Mars Pathfinder arrived on Mars and later began transmitting images.
------------------
40
October 29 - John Glenn became the oldest man in space.
------------------
41
July 23 - Eileen Collins became the first female Shuttle Commander.
------------------
42
February 14 - The U.S. Near Earth Asteroid Rendezvous (NEAR) spacecraft began transmitting images of the asteroid Eros.
------------------
43
February 12 - NEAR landed on the surface of Eros.
April 28 - American Dennis Tito became the first tourist in space after paying the Russian space program $20,000,000.
------------------
44
February 1 - The Space Shuttle Columbia broke up on re-entry into the Earth’s atmosphere.
February 13 - An investigative panel found that superheated air almost certainly seeped through a breach in space shuttle Columbia’s left wing and possibly its wheel compartment during the craft’s fiery descent, resulting in the deaths of all seven astronauts.
August 25 - NASA launched the largest-diameter infrared telescope ever in space, the Spitzer Space Telescope.
September 21 - NASA’s Galileo mission ended a 14-year exploration of the solar system’s largest planet and its moons with the spacecraft crashing by design into Jupiter at 108,000 mph.

------------------
45
January 14 - President Bush proposed a new space program that would send humans back to the moon by 2015 and establish a base to Mars and beyond.
July 1 - The Cassini spacecraft sent back photographs of Saturn’s shimmering rings.

------------------
46
July 3 - A NASA spacecraft collided with a comet half the size of Manhattan, creating a brilliant cosmic smashup designed to help scientists study the building blocks of life on earth.
July 26 - Space Shuttle Discovery was launched with seven astronauts aboard; this was America’s first manned space shot since the 2003 Columbia disaster.

------------------
47
January 15 - NASA spacecraft Stardust returned safely to Earth in a desert near Salt Lake City with the first dust ever collected from a comet.

------------------
48
August 4 - NASA launched its Phoenix Mars Lander.
August 8 - Space Shuttle Endeavour and a crew of seven blasted off with teacher-astronaut Barbara Morgan aboard as a crewmember.  Morgan was the first teacher in space since the Challenger disaster in 1986.

------------------
49
January 14 - The NASA space probe Messenger skimmed 124 miles above Mercury.
May 25 - NASA’s Phoenix Mars Lander landed safely and began sending images home after a 10-month, 422 million-mile journey.  Scientists later reported that Phoenix discovered chunks of ice.

------------------
50
March 6 - The NASA spacecraft Kepler was launched.  Its mission is to search for planets outside our solar system, in a distant area of the Milky Way.
June 18 - NASA launched the Lunar Crater Observation and Sensing Satellite, also known as LCROSS.  The mission is to confirm the presence or absence of ice on the moon.  On November 13, 2009, NASA scientists announced the discovery of a "significant amount" of ice in a crater near the moon’s South Pole.

------------------
51
October 10 - Virgin Galactic, a private company, announced the successful first manned glide flight of the VSS Enterprise.  This vehicle is a suborbital plane designed to take private citizens on suborbital space flights.
October 11 - President Barack Obama signed legislation focusing NASA’s efforts on exploring Mars and the asteroids.
December 8 - A private company named SpaceX launched a spacecraft into orbit and returned it to earth safely.  It was the first non-government organization to accomplish this.

------------------
52
July 8 - The space shuttle Atlantis became the last American space shuttle to be launched into space. Mission STS-135 and its 4-member crew brought much-needed supplies and equipment to the International Space Station (ISS).
July 16 - NASA's Dawn spacecraft became the first man made craft to orbit an asteroid.
November 26 - NASA launched Curiosity, the biggest, best equipped robot ever sent to explore another planet.  It will reach Mars in 2012.

------------------
53
May 22 - SpaceX, a commercial space company, launched its Dragon C2+ mission to resupply the International Space Station (ISS).
August - NASAâ€™s Voyager 1 probe, launched in 1977, entered interstellar space.
August 6 - NASA's Curiosity rover successfully landed on Mars. As large as a car, it carried an array of advanced new instruments and experiments.

------------------
54
September 7 - NASA launched the unmanned LADEE spacecraft from NASA's Wallops Flight Facility in Virginia. It was the U.S. space agency's third lunar probe in five years.
December 24 - NASA astronauts wrapped up successful repairs at the International Space Station after a rare Christmas Eve spacewalk to fix an equipment cooling system.

------------------
55

By Topic


By Format


By Government Organization


National Archives Catalog


Presidential Materials


Access to Archival Databases


Archives Library Information Center


Online Exhibits


------------------
56

Genealogists


Military Historians


Preservation and Archives Professionals


Records Managers


Veterans


------------------
57

Getting Started


Guide to Federal Records


Declassified Records


Where to Look for Records


Why Aren't All Records Online?


------------------
58

News and Notices


New Acquisitions


------------------
59


Facebook

Twitter

Instagram

Tumblr

YouTube

Blogs

Flickr

------------------

In [205]:
#year_fact_df = pd.DataFrame({'Fun Facts': year}, index=1
#year_fact_df

SyntaxError: invalid syntax (<ipython-input-205-0125ce8ba002>, line 2)