In [1]:
import pandas as pd
import csv
import numpy as np

In [2]:
space_walk = pd.read_csv('eva.csv')
space_walk

,EVA #,Country,Crew,Vehicle,Date,Duration,Purpose
0,1.0,USA,Ed White,Gemini IV,06/03/1965,0:36,First U.S. EVA. Used HHMU and took photos. G...
1,2.0,USA,David Scott,Gemini VIII,"March 16-17, 1966",0:00,HHMU EVA cancelled before starting by stuck on...
2,3.0,USA,Eugene Cernan,Gemini IX-A,06/05/1966,2:07,"Inadequate restraints, stiff 25ft umbilical an..."
3,4.0,USA,Mike Collins,Gemini X,07/19/1966,0:50,Standup EVA. UV photos of stars. Ended by ey...
4,5.0,USA,Mike Collins,Gemini X,07/20/1966,0:39,Retrieved MMOD experiment from docked Agena. ...
...,...,...,...,...,...,...,...
369,366.0,Russia,Oleg Kononenko|Anton Shkaplerov,ISS Incr-30,02/16/2012,6:15,Relocated 1st strela crane from DC1 to MRM1 an...
370,367.0,Russia,Gennady Padalka|Yuri Malenchenko,ISS Incr-32,08/20/2012,5:51,1 hr late start due to airlock valve. Relocat...
371,368.0,Russia,Pavel Vinogradov|Roman Romanenko,ISS Incr-35,04/19/2013,6:38,"Installed plasma experiment/cables/probes, rep..."
372,369.0,Russia,Fyodor Yurchikhin|Alexander Misurkin,ISS Incr-36,06/24/2013,6:34,Power cable clamps installed and Kurs tested i...
373,370.0,Russia,Fyodor Yurchikhin|Alexander Misurkin,ISS Incr-36,08/16/2013,7:29,"Â Installed VINOSLIVOST experiment on MRM2, 2..."

In [3]:
dropped_space_walk = space_walk[space_walk['EVA #'].notna()]
dropped_space_walk

,EVA #,Country,Crew,Vehicle,Date,Duration,Purpose
0,1.0,USA,Ed White,Gemini IV,06/03/1965,0:36,First U.S. EVA. Used HHMU and took photos. G...
1,2.0,USA,David Scott,Gemini VIII,"March 16-17, 1966",0:00,HHMU EVA cancelled before starting by stuck on...
2,3.0,USA,Eugene Cernan,Gemini IX-A,06/05/1966,2:07,"Inadequate restraints, stiff 25ft umbilical an..."
3,4.0,USA,Mike Collins,Gemini X,07/19/1966,0:50,Standup EVA. UV photos of stars. Ended by ey...
4,5.0,USA,Mike Collins,Gemini X,07/20/1966,0:39,Retrieved MMOD experiment from docked Agena. ...
...,...,...,...,...,...,...,...
369,366.0,Russia,Oleg Kononenko|Anton Shkaplerov,ISS Incr-30,02/16/2012,6:15,Relocated 1st strela crane from DC1 to MRM1 an...
370,367.0,Russia,Gennady Padalka|Yuri Malenchenko,ISS Incr-32,08/20/2012,5:51,1 hr late start due to airlock valve. Relocat...
371,368.0,Russia,Pavel Vinogradov|Roman Romanenko,ISS Incr-35,04/19/2013,6:38,"Installed plasma experiment/cables/probes, rep..."
372,369.0,Russia,Fyodor Yurchikhin|Alexander Misurkin,ISS Incr-36,06/24/2013,6:34,Power cable clamps installed and Kurs tested i...
373,370.0,Russia,Fyodor Yurchikhin|Alexander Misurkin,ISS Incr-36,08/16/2013,7:29,"Â Installed VINOSLIVOST experiment on MRM2, 2..."

In [4]:
buzz = dropped_space_walk[dropped_space_walk['Crew'].str.contains('Buzz')]
buzz

,EVA #,Country,Crew,Vehicle,Date,Duration,Purpose
7,8.0,USA,Buzz Aldrin,Gemini XII,11/12/1966,2:29,Standup EVA. Science tasks. Took star photos
8,9.0,USA,Buzz Aldrin,Gemini XII,11/13/1966,2:06,Attached tether between Agena and Gemini. UV ...
9,10.0,USA,Buzz Aldrin,Gemini XII,11/14/1966,0:55,Standup EVA. Jettisoned equipment. Took photos
12,13.0,USA,Neil Armstrong|Buzz Aldrin,Apollo 11,07/20/1969,2:32,First to walk on the moon. Some trouble getti...
13,14.0,USA,Neil Armstrong|Buzz Aldrin,Apollo 11,07/20/1969,0:05,Jettison suit backpacks and equip to lighten a...

In [5]:
dropped_space_walk.to_csv('eva_format.csv', index=False)